<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

<!-- <context:property-placeholder location="classpath:/db.properties"/> -->
<context:component-scan base-package="com.rental.controller" />

<bean  id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
	<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
	<property name="username" value="scott"/>
	<property name="password" value="tiger"/>
</bean>

<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	<property name="dataSource" ref="dataSource"/>
	<property name="mapperLocations">
		<list>
			<value>classpath:/com/rental/dao/xml/LoginDao.xml</value>		
			<value>classpath:/com/rental/dao/xml/SignUpDao.xml</value>
			<value>classpath:/com/rental/dao/xml/BoardDao.xml</value>
		</list>
	</property>
</bean>

<bean id="loginDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	<property name="mapperInterface" value="com.rental.dao.LoginDao"/>
</bean>

<bean id="signUpDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	<property name="mapperInterface" value="com.rental.dao.SignUpDao"/>
</bean>

<bean id="boardDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	<property name="mapperInterface" value="com.rental.dao.BoardDao"/>
</bean>

<!-- <bean id="UserInfoService" class="com.rental.service.UserInfoService"> -->
<!-- 	<property name="dataSource" ref="dataSource"/> -->
<!-- 	<property name="loginDao" ref="loginDao"/> -->
<!-- </bean> -->

</beans>
